
.list-movies ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    text-align: center;
}
.list-movies p{
    font-size: 10px;
}
.list-movies h3{
    font-size: 14px;
    color: blue;
}
.list-movies ul > li > a{
    font-size: 12px;
    text-decoration: none;
}
.list-movies img{
    width: 150px;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
}